nav#seminar-navbar.navbar.navbar-fixed-top.navbar-expand-md
    .container
        a(href='https://github.com/hpicgs').nav-link.px-0
            img(src=require('../../img/cgs_logo.png'), alt="CGS Logo").img-fluid.mt-0
        ul#nav.navbar-nav.ml-auto
            li.nav-item: a(href="#").nav-link Link 1
            li.nav-item: a(href="#").nav-link Link 2