div#navbar-container
    div#navbar
        a(href='https://github.com/hpicgs'): img(src=require('../../img/cgs_logo.png'), alt="CGS Logo")
        ul#navbar-links 
            li: a(href='/', class="navbar-link") Link 1
            li: a(href='/', class="navbar-link") Link 2